
.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .home footer {
    margin-top: auto;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
