.home {
  text-align: left;
  min-height: 100vh;
  background: url('../Assets/HomePageBackGround.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir entre las tarjetas */
  padding: 20px;
  margin: 0;
}

.pet-card {
  margin: 0;
  width: calc(25% - 20px); /* 25% de espacio horizontal para cada tarjeta y ajuste de márgenes */
  cursor: pointer;
  transition: transform 0.3s ease;
  box-sizing: border-box; /* Incluir los bordes y el margen en el ancho */
}

.pet-card:hover {
  transform: scale(1.1);
}

.pet-card img {
  width: 100%;
}
