/* PetCard.css */

.pet-card {
    width: 180px;
    height: 280px;  
    background-color: rgba(101, 67, 33, 0.388);
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  
  .pet-card img {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .pet-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  
  .pet-card button {
    background-color: #333;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
  }